apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: kafka-connector
objects:
- apiVersion: kafka.strimzi.io/v1beta2
  kind: KafkaConnector
  metadata:
    name: hbi-outbox-connector
    labels:
      strimzi.io/cluster: ${KAFKA_CONNECT_INSTANCE}
  spec:
    state: ${CONNECTOR_STATE}
    class: io.debezium.connector.postgresql.PostgresConnector
    tasksMax: 1 # source connector only supports 1 task
    config:
      slot.name: debezium_outbox
      snapshot.mode: "no_data"
      database.server.name: host-inventory-db
      database.dbname: ${secrets:${DB_SECRET_NAME}:db.name}
      database.hostname: ${secrets:${DB_SECRET_NAME}:db.host}
      database.port: ${secrets:${DB_SECRET_NAME}:db.port}
      database.user: ${secrets:${DB_SECRET_NAME}:db.user}
      database.password: ${secrets:${DB_SECRET_NAME}:db.password}
      topic.prefix: host-inventory
      table.whitelist: hbi.outbox
      table.include.list: hbi.outbox
      transforms: outbox
      transforms.outbox.type: io.debezium.transforms.outbox.EventRouter
      transforms.outbox.table.fields.additional.placement: operation:header,version:header
      transforms.outbox.table.expand.json.payload: true
      value.converter: org.apache.kafka.connect.json.JsonConverter
      plugin.name: pgoutput
      heartbeat.interval.ms: ${DEBEZIUM_HEARTBEAT_INTERVAL_MS}
      heartbeat.action.query: ${DEBEZIUM_ACTION_QUERY}
      topic.heartbeat.prefix: ${TOPIC_HEARTBEAT_PREFIX}
      poll.interval.ms: ${DEBEZIUM_POLL_INTERVAL_MS}
parameters:
- name: KAFKA_CONNECT_INSTANCE
  value: kessel-kafka-connect
  description: Name of the target Kafka Connect instance for Connector
- name: CONNECTOR_STATE
  description: Defines the state the connector should be deployed in ('stopped', 'running', 'paused' only)
  value: stopped
- name: DB_SECRET_NAME
  description: Name of the secret that contains database credentials
  required: true
- name: TOPIC_HEARTBEAT_PREFIX
  value: debezium-heartbeat
  description: Prefix for the connector heartbeat topic
- name: DEBEZIUM_ACTION_QUERY
  value: "SELECT pg_logical_emit_message(false, 'heartbeat', now()::varchar);"
  description: Query action that runs for each heartbeat event
- name: DEBEZIUM_HEARTBEAT_INTERVAL_MS
  value: "300000"
  description: The interval for the Debezium heartbeat in ms
- name: DEBEZIUM_POLL_INTERVAL_MS
  value: "250"
  description: The interval for the Debezium batch processing
