apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: kafka-connect-template
objects:
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: kessel-kafka-connect-log4j
  data:
    log4j.properties: |
      log4j.rootLogger=${CONNECT_LOG_LEVEL}, stdout

      log4j.appender.stdout=org.apache.log4j.ConsoleAppender
      log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
      log4j.appender.stdout.layout.ConversionPattern=%d{ISO8601} %-5p [%X{dbz.connectorType}|%X{dbz.connectorContext}] %X{connector.context} %m [%c]%n

      log4j.logger.org.apache.kafka.connect=${CONNECT_LOG_LEVEL}
      log4j.logger.org.apache.kafka.clients=${CONNECT_LOG_LEVEL}
      log4j.logger.io.debezium=${DEBEZIUM_LOG_LEVEL}
      log4j.logger.org.reflections=ERROR
- apiVersion: kafka.strimzi.io/v1beta2
  kind: KafkaConnect
  metadata:
    annotations:
      strimzi.io/use-connector-resources: "true"
    name: kessel-kafka-connect
  spec:
    bootstrapServers: ${BOOTSTRAP_SERVERS}
    tls:
      trustedCertificates: []
    authentication:
      type: scram-sha-512
      username: ${KAFKA_USERNAME}
      passwordSecret:
        secretName: ${KAFKA_USER_SECRET_NAME}
        password: ${KAFKA_USER_SECRET_KEY}
    metricsConfig:
      type: jmxPrometheusExporter
      valueFrom:
        configMapKeyRef:
          key: metrics-config.yml
          name: kessel-kafka-connect-metrics
    config:
      group.id: kessel-kafka-connect-cluster
      config.storage.topic: kessel-kafka-connect-cluster-configs
      offset.storage.topic: kessel-kafka-connect-cluster-offsets
      status.storage.topic: kessel-kafka-connect-cluster-status
      config.providers: secrets
      config.providers.secrets.class: io.strimzi.kafka.KubernetesSecretConfigProvider
    image: ${KAFKA_CONNECT_IMAGE}:${IMAGE_TAG}
    replicas: ${{CONNECT_REPLICAS}}
    resources:
      limits:
        cpu: ${{KKC_CPU_LIMIT}}
        memory: ${{KKC_MEMORY_LIMIT}}
      requests:
        cpu: ${{KKC_CPU_REQUESTS}}
        memory: ${{KKC_MEMORY_REQUESTS}}
    template:
      pod:
        imagePullSecrets:
        - name: quay-cloudservices-pull
        volumes:
        - name: log4j-config
          configMap:
            name: kessel-kafka-connect-log4j
      connectContainer:
        env:
        - name: KAFKA_LOG4J_OPTS
          value: "-Dlog4j.configuration=file:/mnt/log4j/log4j.properties"
        volumeMounts:
        - name: log4j-config
          mountPath: /mnt/log4j
      podDisruptionBudget:
        maxUnavailable: 2
    version: ${VERSION}
parameters:
  - name: BOOTSTRAP_SERVERS
    description: List of bootstrap servers (comma-separated list in 'hostname:port' notation)
    required: true
  - name: KAFKA_USERNAME
    description: Kafka Username used for the authentication
    required: true
  - name: KAFKA_USER_SECRET_NAME
    description: The name of the Secret containing the password for the Kafka User
    required: true
  - name: KAFKA_USER_SECRET_KEY
    description: The name of the key in the Secret under which the password is stored
    required: true
    value: password
  - name: KAFKA_CONNECT_IMAGE
    value: quay.io/redhat-services-prod/project-kessel-tenant/kessel-kafka-connect
    description: Container image name for the connect cluster pods
  - name: IMAGE_TAG
    required: true
    value: latest
    description: Image tag for the connect image
  - name: CONNECT_REPLICAS
    description: Number of replicas in the connect cluster
    value: "3"
  - name: VERSION
    description: Kafka Connect version to use (should match the Kafka version of cluster and connect base image)
    value: "3.9.0"
  - name: KKC_CPU_LIMIT
    value: "1000m"
    description: Sets the CPU limit for Kessel Kafka Connect pod
  - name: KKC_MEMORY_LIMIT
    value: "4Gi"
    description: Sets the memory limit for Kessel Kafka Connect pod
  - name: KKC_CPU_REQUESTS
    value: "500m"
    description: Sets the CPU request for Kessel Kafka Connect pod
  - name: KKC_MEMORY_REQUESTS
    value: "2Gi"
    description: Sets the memory request for Kessel Kafka Connect pod
  - name: CONNECT_LOG_LEVEL
    value: "INFO"
    description: Log level for Kafka Connect (INFO, DEBUG, TRACE)
  - name: DEBEZIUM_LOG_LEVEL
    value: "INFO"
    description: Log level for Debezium connectors (INFO, DEBUG, TRACE)
